<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <form class="card-body p-4" (ngSubmit)="register()" #registerForm="ngForm">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input [(ngModel)]="modal.name" name="name" type="text" class="form-control" placeholder="Username">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input [(ngModel)]="modal.email" name="email" type="email" required class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="modal.password" name="password" type="password" required class="form-control" placeholder="Password">
            </div>

            <div class="input-group mb-4">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input [(ngModel)]="modal.password2" name="password2" type="password" required class="form-control" placeholder="Repeat password">
            </div>

            <button [disabled]="!registerForm.form.valid"
                    type="submit" class="btn btn-block btn-success">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>