<div class="animated fadeIn">

  <div class="row" *ngIf="projectExist !== undefined && !projectExist">
    <div class="col-sm-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          Get started with you first project!
        </div>
        <div class="card-body">
          <p>To get started with your <b>recommendations</b> first of all create and configure your first project</p>
          <button class="btn btn-outline-success" type="button"
                  (click)="openProjectModal()">
            <i class="fa fa-magic"></i>&nbsp; Create my first project</button>
        </div>
      </div>
    </div>
  </div>
</div>
