<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <b>Data configuration</b>
        </div>
        <div class="card-body">
          <tabset #staticTabs>
            <tab heading="Data import">
              <p><b>Step 1. Select CSV or Excel file to import</b></p>

              <input accept=".xlsx, .xls, .csv" type="file" onclick="this.value = null" name="file" (change)="selectFile($event)"
                     placeholder="Upload file...">
              <br>
              <br>

              <p><b>Step 2. Describe data columns</b></p>

              <table *ngIf="dataColumns" class="table table-striped" style="width: 400px;">
                <thead>
                <tr>
                  <th>Column name</th>
                  <th>Process type</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of dataColumns; index as i">
                  <td><i>{{item}}</i></td>
                  <td>
                    <select [(ngModel)]="formData.fields[item]">
                      <option value="transaction_id">Unique action ID</option>
                      <option value="name">Item name/description</option>
                      <option value="metadata">Meta field</option>
                      <option value="redundant">Redundant column</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>

              <mat-progress-bar style="margin-bottom: 20px;"
                  *ngIf="loading"
                  [color]="'primary'"
                  [mode]="'indeterminate'">
              </mat-progress-bar>

              <button class="btn" (click)="importData()">
                Import data
              </button>
            </tab>

            <tab heading="Existing Item sets" (select)="itemSets.loadItemSets(reloadItemSets)">
              <item-sets #itemSets="itemSets"></item-sets>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>