<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <b>Data configuration</b>
        </div>
        <div class="card-body">
          <tabset>
            <tab heading="Data import">
              <p><b>Step 1. Select CSV or Excel file to import</b></p>

              <input accept=".xlsx, .xls, .csv" type="file" onclick="this.value = null" name="file" (change)="selectFile($event)"
                     placeholder="Upload file...">
              <br>
              <br>

              <p><b>Step 2. Describe data columns</b></p>

              <table *ngIf="dataColumns" class="table table-striped" style="width: 400px;">
                <thead>
                <tr>
                  <th>Column name</th>
                  <th>Process type</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let item of dataColumns; index as i">
                  <td><i>{{item}}</i></td>
                  <td>
                    <select [(ngModel)]="formData.fields[item]">
                      <option value="transaction_id">Unique action ID</option>
                      <option value="name">Item name/description</option>
                      <option value="redundant">Redundant column</option>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>

              <!--<p><b>Step 3. Define name for future Item Sets</b></p>-->
              <!--<div class="row" *ngIf="dataColumns">-->
                <!--<div class="col-sm-3">-->
                  <!--<div class="form-group">-->
                    <!--<input class="form-control" placeholder="Enter data set name" type="text"-->
                           <!--[(ngModel)]="formData.name">-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <button class="btn" [disabled]="!file" (click)="importData()">
                Import data
              </button>
            </tab>

            <tab heading="Existing Item sets">
              <!--<tab (select)="alertMe()">-->
              <!--<ng-template tabHeading>-->
              <!--<span class="badge badge-secondary">Click here!</span>-->
              <!--</ng-template>-->
              <!--I've got an HTML heading, and a select callback. Pretty cool!-->
              <!--</tab>-->
            </tab>


          </tabset>

        </div>
      </div>
    </div>
  </div>
</div>